@font-face {
    font-family: 'Avenir Next Cyr';
    font-style: normal;
    font-weight: 500;
    src: url('../../fonts/avenirnextcyr-medium.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../../fonts/avenirnextcyr-medium.woff') format('woff') /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }