.instructions {
  padding-top: 30px;
  // background: no-repeat url(../../img/background/line-dashed.svg) 147% 29%/331px
  //   602px;

  @media screen and (min-width: "1200px") {
    padding-top: 75px;
    background: none;
  }
  @media screen and (min-width: "768px") {
    background: none;
  }

  .card__head {
    padding-top: 17px;
  }

  .card__body {
    margin-bottom: 8px;
  }

  .section__heading {
    margin-bottom: 30px;
    @media screen and (min-width: "1200px") {
      margin: 25px 0 10px 0;
    }
  }

  &__items {
    width: 100%;
    display: flex;
    flex-direction: column;

    @media screen and (min-width: "768px") {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      margin-left: 40px;
      margin: 0;
      align-items: flex-start;
    }
    @media screen and (min-width: "1200px") {
      margin: 0;
      align-items: flex-start;
    }
  }
  &__item {
    width: 264px;
    @media screen and (min-width: "768px") {
      margin-right: 30px;
    }
    @media screen and (min-width: "1200px") {
      width: 260px;
    }
    .card__image-wrapper {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      @media screen and (min-width: "768px") {
        height: 68px;
      }

      @media screen and (min-width: "1200px") {
        height: 68px;
      }
    }
  }
}

.works__frames {
  overflow: hidden;
}

#envelope-image {
  height: 81px;
  width: 72px;
}
