.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 20px;
  width: 100%;

  @media screen and (min-width: "768px") {
    margin: 0 auto;
    width: 688px;
  }
  @media screen and (min-width: "1200px") {
    padding: 0;
    margin: 0 auto;
    width: 870px;
  }

  &__heading {
    font-weight: 600;
    font-style: normal;
    font-size: 21px;
    line-height: 27px;
    color: #232323;
    text-align: left;

    @media screen and (min-width: "768px") {
      font-weight: 1000;
      font-style: normal;
      font-size: 30px;
      line-height: 33px;
      color: #232323;
      text-align: left;
    }

    @media screen and (min-width: "1200px") {
      line-height: 40px;
    }
    &_white {
      color: white;
      font-weight: 400;
    }
  }
  .main-text {
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
    color: #575757;
  }
}
