@import './normalize.scss';

@import './fonts.scss';

@import './sections';

@import './registration.scss';

@import './sectionBackground.scss';

@import './instructions';

@import './card';

@import './statistics';

@import './review';

@import './calculator';

@import './slider';
