.calculator {
  padding-top: 56px;
}
@media screen and (min-width: 1200px) {
  .calculator {
    padding-top: 80px;
  }
}
.calculator .input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 0 11px 0;
  background-color: ffffff;
  height: 56px;
  width: 280px;
  border: 1px solid #eaeaea;
  border-radius: 2px;
  margin-bottom: 16px;
  font-size: 16px;
  outline: none;
}
.calculator .input:focus {
  outline: none;
}
@media screen and (min-width: 768px) {
  .calculator__text .main-text {
    max-width: 353px;
    margin-left: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .calculator__text .main-text {
    margin: 30px 0 0 0;
  }
}
@media screen and (min-width: 1200px) {
  .calculator .section__heading {
    max-width: 530px;
  }
}