.background {
  height: 73px;
  background: no-repeat 0 -1%/contain url(../../img/section/small1.svg);
}
@media screen and (min-width: 768px) {
  .background {
    width: 768px;
    height: 103px;
    background: url(../../img/section/big1.svg) no-repeat 0 98%/cover;
  }
}
@media screen and (min-width: 769px) and (min-width: 1199px) {
  .background {
    width: 100%;
    height: 103px;
    background: url(../../img/section/big1.svg) no-repeat 0 98%/cover;
  }
}
@media screen and (min-width: 1200px) {
  .background {
    width: 100%;
    height: 103px;
    background: url(../../img/section/big1.svg) no-repeat 0 98%/cover;
  }
}